USE [master]
GO
/****** Object:  Database [JWebFSoft]    Script Date: 4/22/2025 7:44:58 AM ******/
CREATE DATABASE [JWebFSoft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JWebFSoft', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JWebFSoft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JWebFSoft_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JWebFSoft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JWebFSoft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JWebFSoft]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 4/22/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[SoCMND] [varchar](20) NOT NULL,
	[NgayVaoCongTy] [date] NOT NULL,
	[MaNganh] [int] NULL,
	[TenCongViec] [nvarchar](50) NULL,
	[TenCongTy] [nvarchar](50) NULL,
	[DiaChiCongTy] [nvarchar](255) NULL,
	[ThoiGianLamViec] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoCMND] ASC,
	[NgayVaoCongTy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 4/22/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MaNganh] [int] NOT NULL,
	[TenNganh] [nvarchar](255) NULL,
	[LoaiNganh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 4/22/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[SoCMND] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [varchar](30) NULL,
	[SoDT] [varchar](15) NULL,
	[DiaChi] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOTNGHIEP]    Script Date: 4/22/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTNGHIEP](
	[SoCMND] [varchar](20) NOT NULL,
	[MaTruong] [int] NOT NULL,
	[MaNganh] [int] NOT NULL,
	[HeTN] [int] NULL,
	[NgayTN] [date] NULL,
	[LoaiTN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoCMND] ASC,
	[MaTruong] ASC,
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUONG]    Script Date: 4/22/2025 7:44:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONG](
	[MaTruong] [int] NOT NULL,
	[TenTruong] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDT] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NGANH] ([MaNganh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD FOREIGN KEY([SoCMND])
REFERENCES [dbo].[SINHVIEN] ([SoCMND])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TOTNGHIEP]  WITH CHECK ADD FOREIGN KEY([MaNganh])
REFERENCES [dbo].[NGANH] ([MaNganh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TOTNGHIEP]  WITH CHECK ADD FOREIGN KEY([MaTruong])
REFERENCES [dbo].[TRUONG] ([MaTruong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TOTNGHIEP]  WITH CHECK ADD FOREIGN KEY([SoCMND])
REFERENCES [dbo].[SINHVIEN] ([SoCMND])
ON DELETE CASCADE
GO
USE [master]
GO
